.enemyWrapper {
  margin-top: 100px;
}

.enemy {
  height: 130px;
  width: 100px;
  border-radius: 100%;
}

/* .container {
  position: relative;
  width: 80%;
  height: 200px;
  margin: auto;
  border: 1px solid #000;
  overflow: hidden;
} */

.moving {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
}
