.outerWrapper {
  display: flex;
  justify-content: center;
  background-image: url("./../public/nonGameBackground.jpg");
  background-size: cover;
  background-position: center;
  user-select: none;
}

.game {
  position: relative;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  background-image: url("./../public/background.jpg");
  background-size: cover;
  background-position: center;
}

.gameOver {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.641);
  z-index: 9999;
  p {
    font-size: 50px;
    font-weight: 700;
  }
}

.vawesCounter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 9999;
  p {
    font-size: 50px;
    font-weight: 700;
  }
}
