.outerWrapper {
  display: flex;
  justify-content: center;
  background-image: url("./../public/nonGameBackground.jpg");
  background-size: cover;
  background-position: center;
  user-select: none;
}

.game {
  position: relative;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  background-image: url("./../public/background.jpg");
  background-size: cover;
  background-position: center;
}

.hero {
  position: absolute;
  left: 0;
  top: 80%;
  width: 150px;
  height: 170px;
  transform: translateY(-50%);
}

.heroHealthBar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 200px;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.heroHealthBar .health {
  height: 100%;
  background: linear-gradient(to top, #17831b, rgb(172, 248, 128));
  transition: width 0.3s ease;
}

.heroHealthBar .health.low {
  background: linear-gradient(to top, #a02a22, rgb(217, 101, 101));
}

.gameOver {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.641);
  z-index: 9999;
  p {
    font-size: 50px;
    font-weight: 700;
  }
}

.projectile {
  position: absolute;
  width: 80px;
  height: 50px;
  transform: rotate(5deg);
}

.scorePopup {
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(45deg, #00ff3c, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
}

@media only screen and (max-width: 376px) {
  .hero {
    width: 150px;
    height: 170px;
  }
  .heroHealthBar {
    width: 120px;
    height: 10px;
  }
}
