.outerWrapper {
  display: flex;
  justify-content: center;
  background-image: url("./../public/nonGameBackground.jpg");
  background-size: cover;
  background-position: center;
  user-select: none;
}

.game {
  position: relative;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  background-image: url("./../public/background.jpg");
  background-size: cover;
  background-position: center;
}

.gameOver {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.641);
  z-index: 9999;
  p {
    font-size: 50px;
    font-weight: 700;
  }
}

.scoreProgressBarWrapper {
  position: absolute;
  top: 0;
  padding-left: 20px;
  padding-top: 40px;
  display: flex;
}

.playerDataWrapper {
  background-color: #1E9BC7;
  border-radius: 0px 20px 20px 0px;
  margin-left: -10px;
  margin-top: 8px;
  width: 180px;
  height: 56px;
  padding-left: 20px;
  p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 14px;
    font-weight: 700;
    color: white;
  }
}

.nicknameWrapper {
  display: flex;
  align-items: center;
}

.playerDataBorder {
  height: 15px;
  width: 0px;
  border: 2px solid #C2EDDE2E;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

.scoreProgressBar {
  overflow: hidden;
  background-color: white;
  margin-left: -12px;
  height: 12px;
  width: 185px;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(45deg, #1FA2C800, #F5ABAB);
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreProgressWrapper {
  background-color: white;
  margin-right: 3px;
  border-radius: 10px;
}

.scoreProgress {
  background-color: #B2BF31;
  width: 185px;
  height: 7px;
  border-radius: 10px;
}

.avatarOuterWrapper {
  border: 5px solid #B3E2D6;
  background-color: #B3E2D6;
  border-radius: 15px;
  height: 54px;
  width: 54px;
  z-index: 999;
}

.avatarWrapper {
  border-radius: 18px;
  background-color: #FDDD6D;
  height: 54px;
  width: 54px;
}

.pointsWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  margin-left: 8px;
  margin-top: 2px;
}

.pointWrapper {
  border: 3px solid #C39369;
  background-color: #A67D59;
  width: 65px;
  height: 10px;
  border-radius: 10px;
  img {
    height: 20px;
    width: 23px;
    margin-top: -5px;
    margin-left: -10px;
    position: absolute;
  }
  p {
    font-size: 9px;
    text-align: center;
    margin-top: -1px;
  }
}
